**********************************************************************************************************************
*                                                                                                                    *
* DRILL TAPE SUMMARY REPORT                                                                                          *
*                                                                                                                    *
* C:\USERS\PLACIDO DE-VITA\DESKTOP\LAVORO\SUB 1 GHZ\S2-LP\BOARD APPLICATIVA VERS2\LAYOUT\GERBER-STEVAL-FKI433V1.MAX  *
* Wed Dec 14 10:04:25 2016                                                                                           *
*                                                                                                                    *
**********************************************************************************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       100      292      200      100                                                                                 
T2       400      3        200      100                                                                                 
T3       420      32       200      100                                                                                 
